body
{
    color: #333;
    text-align: center;
<<<<<<< HEAD
    font-family: 'Times New Roman', Times, serif;
=======
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
>>>>>>> cabecera
}
#container
{
    width: 78%;
    padding: 0;
    text-align: left;
    border: lpx solid #DDD;
}
#container h1
{
    font-size: 20px;
}
#cabecera
{
    background: #31A;
    box-shadow: 0px 2px 20px Opx rgba(0,0,0,0.75);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0, 5em;
}
#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}